<div id="islandora-repository-reports-report-type-form">{{ form }}</div>
  {% if show_csv_link %}
    <div id="islandora-repository-reports-csv_link"><a href="{{ csv_url }}">Download the CSV</a></div>
  {% endif %}
  <h4>Item Accessions</h4>
    <b>Total Items</b> {{ total_items.total }} &nbsp; &nbsp;
    <b>Public Items</b> {{ total_items.public }} &nbsp; &nbsp;
    <b>Private Items</b> {{ total_items.private }}
  {{ stats_table }}

  {% if summary_row %}
  <h4>Content Counts</h4>
    <label>Space used</label> {{ summary_row|format_bytes }}
    {{ content_counts_table }}
  {% endif %}
  
  {% if collections_by_institution %}
  <h4>Collections</h4>
      
  {% endif %}
  {% if html_content %}
    <div id="islandora-repository-reports-content">
      <div id="s-repository-reports-chart-title"><h3>{{ chart_title }}</h3></div>
      <div style="padding-top: 20px" id="islandora-repository-reports-html">{{ html_content }}</div>
    </div>
  {% else %}
    <div id="islandora-repository-reports-content"><canvas id="islandora-repository-reports-chart"></canvas></div>
  {% endif %}
