<div id="islandora-repository-reports-report-type-form">{{ form }}</div>
  {% if show_csv_link %}
    <div id="islandora-repository-reports-csv_link"><a href="{{ csv_url }}">Download the CSV</a></div>
  {% endif %}
  {{ stats_table }}

  {% if summary_row %}
    <label>Space used</label> {{ summary_row|format_bytes }}
    <table>
        <tr><th>Mime type</th><th>Attachment count</th><th>Size</th></tr>
    {% for elem in mime_type_sums %}
        <tr>
            <td>{{ elem.name }}</td>
            <td style="text-align:right">{{ elem.count }}</td>
            <td>{{ elem.value|format_bytes }}</td>
        </tr>
    {% endfor %}
    </table>
  {% endif %}
  <pre style="color:red">{{ stats }}</pre>
  {% if html_content %}
    <div id="islandora-repository-reports-content">
      <div id="s-repository-reports-chart-title"><h3>{{ chart_title }}</h3></div>
      <div style="padding-top: 20px" id="islandora-repository-reports-html">{{ html_content }}</div>
    </div>
  {% else %}
    <div id="islandora-repository-reports-content"><canvas id="islandora-repository-reports-chart"></canvas></div>
  {% endif %}
