{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - module_path: The path of the module.
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{%
  set classes = [
  'block',
  'block-menu',
  'navigation',
  'menu--' ~ derivative_plugin_id|clean_class,
  'navbar',
  'navbar-expand-xl'
]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
{% set home_site_url = 'https://lib.asu.edu' %}
<nav aria-label="Main" role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>

  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
    <img class="vert" src="/{{ module_path }}/images/arizona-state-university-logo-vertical.png" alt="Arizona State University" />
    <img class="horiz" src="/{{ module_path }}/images/arizona-state-university-logo.png" alt="Arizona State University" />
  </a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
  <svg title="Open mobile menu" class="svg-inline--fa fa-bars fa-w-14" aria-labelledby="svg-inline--fa-title-xjdaJbVF67zt" data-prefix="fa" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
    <title id="svg-inline--fa-title-xjdaJbVF67zt">Open mobile menu</title>
    <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
  </svg>
  <!-- <span title="Open mobile menu" class="fa fa-bars"></span> -->
  <span title="Close mobile menu" class="fa-stack">
    <svg class="svg-inline--fa fa-circle fa-w-16 fa-stack-2x" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg="">
      <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
    </svg>
    <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
    <svg class="svg-inline--fa fa-times fa-w-11 fa-stack-1x" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 352 512" data-fa-i2svg="">
      <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
    </svg>
    <!-- <i class="fa fa-times fa-stack-1x"></i> -->
  </span>
  </button>

  <div class="navbar-container">

    {% if site_slogan %}
      <div class="title">
        <a href="{{ home_site_url }}" class="unit-name">{{ site_slogan }}</a>
        <span class="subdomain-name">{{ site_name }}</span>
      </div>
    {% else %}
      <div class="title subdomain-name">{{ site_name }}</div>
    {% endif %}

    <div class="collapse navbar-collapse w-100 justify-content-between" id="menubar">
      <div class="navbar-nav">

        {# Label. If not displayed, we still provide it for screen readers. #}
        {% if not configuration.label_display %}
          {% set title_attributes = title_attributes.addClass('sr-only') %}
        {% endif %}
        {{ title_prefix }}
        <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
        {{ title_suffix }}

        {# Menu. #}
        {% block content %}
          {{ content }}
        {% endblock %}

      {{ drupal_block('search_form_block')}}

      </div>
      <div class="navbar-mobile-footer">
        <form class="form-inline navbar-mobile-search" action="https://search.asu.edu/search" method="get" name="gs">
          <input class="form-control" type="search" name="q" aria-label="Search" placeholder="Search ASU">
          <input name="site" value="default_collection" type="hidden">
          <input name="sort" value="date:D:L:d1" type="hidden">
          <input name="output" value="xml_no_dtd" type="hidden">
          <input name="ie" value="UTF-8" type="hidden">
          <input name="oe" value="UTF-8" type="hidden">
          <input name="client" value="asu_frontend" type="hidden">
          <input name="proxystylesheet" value="asu_frontend" type="hidden">
        </form>
        <div class="nav-grid">
          {{ drupal_menu('asu_global') }}
        </div>
      </div>
    </div>
  </div>
</nav>
