{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 *  - service_url: base url for this service.
 *  - items: array of results... key values below.
 *  - total_results_found:
 *  - search_term:
 *
 * items elements:
 *  - name: The title value for the item
 *  - global_id: The identifier (link) to the item.
 *  - description: The description for the item
 *  - createdAt: The created date for the item
 *  - publisher: The publisher name for the item
 *  - identifier_of_dataverse: The identifier of the dataverse.
 */
#}
<h2>{{ label }}
<small>
<span title="{{ tooltip_text }}" class="far fa-question-circle" data-toggle="tooltip"></span>
</small>
</h2>
<i>{{ total_results_found | number_format }}
	result{% if total_results_found != 1 %}s{% endif %}
	found</i><br>
<div class="bento_box">
    {% for key,item in items %}
        <div class="bento_item">
          <div class="bento_link" title="{{item.name|raw}}">
        {% if item.global_id %}
            <a href="{{ service_url }}/dataset.xhtml?persistentId={{ item.global_id }}" target="_blank">{{ item.name }}</a>
        {% else %}
            <a href="{{ item.url }}" target="_blank">{{ item.name|raw }}</a>
        {% endif %}</div>
            {{ item.description|striptags|slice(0,150)|raw }}
            {% if item.description|length > 150 %}
                ...
            {% endif %}
            <br>
            {% if item.createdAt %}
            <small><label>Created: </label> {{ item.createdAt }}</small><br>
            {% endif %}
            {% if item.identifier_of_dataverse %}
                <a href="{{ service_url }}/dataverse/{{ item.identifier_of_dataverse }}" target="_blank">{{ item.publisher }}</a>
            {% endif %}
        </div>
    {% endfor %}
    <a href="{{ service_url }}/dataverse/asulibrary/?q={{ search_term }}" target="_blank" title="See all ASU Research Data Repository results &gt;">See all ASU Research Data Repository results &gt;</a>
</div>
