{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 *  - service_url: base url for this service.
 *  - items: array of results... key values below.
 *  - total_results_found:
 *  - search_term:
 *
 * items elements:
 *  - item_label: The title value for the item
 *  - item_id: The identifier (link) to the item.
 *  - item_description: The description for the item
 *  - md_created_s: The created date for the item
 */
#}
<h2>{{ label }}
<small>
<span title="{{ tooltip_text }}" class="fas fa-question-circle" data-toggle="tooltip"></span>
</small>
</h2>

<i>{{ total_results_found | number_format }}
	result{% if total_results_found != 1 %}s{% endif %}
	found</i><br>

<div class="bento_box">
    {% for key,item in items %}
        <div class="bento_item">
          <div class="bento_link" title="{{item.name|raw}}">
          {% if item.item_id %}
            <a href="{{ service_url }}/items/{{ item.item_id }}" target="_blank">{{ item.item_label|raw }}</a>
          {% else %}
            <a href="{{ service_url }}/collections/{{ item.collection_id }}" target="_blank">{{ item.item_label }}</a>
          {% endif %}
          </div>
          {{ item.item_description|striptags|slice(0,150)|raw }}
          {% if item.item_description|length > 150 %}
              ...
          {% endif %}
          <br/>
            {% if item.md_created_s %}
            <small><label>Created: </label> {{ item.md_created_s }}</small><br>
            {% endif %}
        </div>
    {% endfor %}
    <a href="{{ service_url }}/search?q={{ search_term }}" target="_blank" title="See all ASU Digital Repository results &gt;">See all ASU Digital Repository results &gt;</a>
</div>
