{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    {% set count = view.total_rows - 1 %}
    {% set last_nid = 0 %}
    {% for nested_row in 0..count %}
      {% set row_classes = [
        default_row_class ? 'views-row',
      ] %}
      {% if (last_nid != view.style_plugin.getField(nested_row, 'nid')) %}
      {% if (view.style_plugin.getField(nested_row, 'title')) %}
      <br>
      <div class="field_title">
        <strong>New content {{ view.style_plugin.getField(nested_row, 'title') }}</strong>{% if (1 != view.style_plugin.getField(nested_row, 'tracker_node_published')) %} <i>- unpublished</i>{% endif %}
      </div>
      {% endif %}
      <div class="field_changed-2">
        {{ view.style_plugin.getField(nested_row, 'uid') }}
        {{ view.style_plugin.getField(nested_row, 'changed') }}
      </div>
      <div class="field_nothing">
      </div>
      <br>
      {% endif %}
      {% set last_nid = view.style_plugin.getField(nested_row, 'nid') %}
    {% endfor %}
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}
  {% if pager %}
    <p><i>There are more items changed for the given day than allowed for the email view.</i></p>
  {% endif %}
  <a href="{{ content_change_digest_url }}">View report online</a>
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
